# Build folders
build*/
out/
Debug/
Release/
x64/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# Visual Studio
*.sln
*.vcxproj*
.vs/

# Qt
.qt/

# Binaries
*.exe
*.dll
*.lib
*.pdb
*.obj

# OS
.DS_Store
Thumbs.db